body {
	background-color: #FFF056;
}

section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 0%;
	width: 50%;
	border: thick solid black;
	background-color: white;
	padding: 1% 5% 1% 5%;
}

#name {
	font-family: 'Lucida Console', 'Courier New', 'Helvetica', san-serif;
	font-size: 250%;
	line-height: 0.7;
}

.subsects {
	margin-bottom: 30px;
}

.sectitle {
	font-family: 'Courier New', 'Helvetica', san-serif;
	font-size: 120%;
	font-weight: bold;
	line-height: 0.1;
}

.text {
	font-family: 'Courier New', san-serif;
	font-size: 100%;
	line-height: 1.3;
}

.pubs {
	padding-bottom: 10px;
}

.ltext {
	font-family: 'Courier New', san-serif;
	font-size: 100%;
	line-height: 1.3;
	padding-left: 20px;
}

p {
	margin-bottom: 3%;
}

a, a:link, a:visited, a:hover, a:active {
	color: black;
}

#cright{
	text-align: right;
	font-size: 90%;
	font-family: 'Courier New', san-serif;
	margin-right: 20%;
	margin-top: 0.5%;
	line-height:0.01;
}